/* Add a black background color to the top navigation */
.topnav {
  background-color: #B2B4B2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
  color: #002554;
  transition:.5s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #002554;
  color: #FFFFFF;
}

/* Paralax Effect on Scroll */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.paralax-img-1, .paralax-img-2, .paralax-img-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.paralax-img-1 {
  background-image: url("img_parallax.jpg");
  min-height: 100%;
}

.paralax-img-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.paralax-img-3{
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.paralax-img-1{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .paralax-img-1, .paralax-img-2, .paralax-img-3 {
    background-attachment: scroll;
  }
}
